* {
    font-family: "DejaVu Sans", sans-serif;
}

body {
    background: #eee;
}

.fc1c,
.fc2c {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin: 8px 4px;
}


.fc1c div,
.fc2c div {
    /* background: aliceblue; */
    border: 3px solid white;
    padding: 4px 8px;
    margin: 2px 8px;
    flex: 1 1 auto;
}

.fc1c div {
    background:rgb(191, 230, 255);
    color: black;
}

.fc2c-1 {
    background-color:azure;
    color: black;
}

.fc2c-2 {
    background-color:aliceblue;
    color: black;
}

img {
    height: 250px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

 
h1 {
    color: darkslategrey;
    font-family: 'Segoe UI', 'DejaVu Sans', sans-serif;
    text-align: center;
    font-size: xx-large;
}

h2,
h3,
h4,
h5 {
    font-family: "Times New Roman", serif;
    color:darkslategray;
    text-align: center;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

h4 {
    font-size: medium;
}

h5 {
    font-size: small;
}

ul, li {
    color: #002b3696;
}

a {
    color:darkslategrey
}

.header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:aliceblue;
    border: solid white 3px;
    margin: 4px 8px;
    padding: 4px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
 

}

.logo {
    font-size: x-large;
    font-weight: 700;
    color: darkslategrey;
    padding: 4px;
    background: white;
}

nav ul {
    list-style-type: none; /* remove dots on li elements */
    display: flex;
    margin: 0;
    padding: 0;
    gap: 8px;
}

nav a {
    font-size: small;
    font-weight: 700;
    background:white;
    color: darkslategrey;
    padding: 6px;
    /* text-decoration: none;  remove line under links */
}

/* .heading {
    /* background-color:lightgrey;
    color: black; */
    /*padding:10px;
    margin: 0px;
    border: 5px;
    /* border-color: darkslategray;
    border-style: solid; */


/*.about {
    background-color: lightgrey;
    color: black;
    padding:10px;
    margin: 0px;
    border: 5px;
    border-style: solid;
    border-color: darkslategray;
}*/

/*.footer {
    /* background-color:lightyellow;
    color: black; */
    /*margin: 0px;
    padding: 10px;
    border: 5px;
    /* border-color: darkslategray;
    border-style: solid; */


/*em {
    color:darkslategray;
}
*/